extends layout

block main
  if recipeCollections === undefined || recipeCollections.length === 0
    p#no_collection You don't have any recipe collections. Why not create one?
  else 
    ul#lists
      each recipeCollection in recipeCollections
        li(class=recipeCollection)
          a(href=`/collections/${recipeCollection.id}`)
            h2= recipeCollection.title
            p= recipeCollection.recipes.length
  footer 
    .actions 
      if ALL_PAGES
        h3= "Pages"
        each page in ALL_PAGES
          if page === +THIS_PAGE
            a#current-page.add(href=`/collections/page/${page}`)=`${page}  `
          else 
            a.add(href=`/collections/page/${page}`)=`${page}  `


block headerLinks
  .actions
    a.add(href="/collections/new") New Recipe Collection

