extends layout

block main
  section#recipe-collection
    header
      h2= recipeCollection.title
      form.edit(action=`/collections/${recipeCollection.id}/edit` method="get")
        button Edit Collection
      form.delete(action=`/collections/${recipeCollection.id}/destroy` method="post")
        button Delete Collection
      form.add(action=`/collections/${recipeCollection.id}/recipes/new` method="get")
        button Add Recipe

    ul
      each recipe in recipeCollection.recipes
        li
          h3= recipe.title
          form(action=`/collections/${recipeCollection.id}/recipes/${recipe.id}` method="get")
            button(type="submit") View Recipe
          form(action=`/collections/${recipeCollection.id}/recipes/${recipe.id}/edit` method="get")
            button(type="submit") Edit Recipe
          form.delete(action=`/collections/${recipeCollection.id}/recipes/${recipe.id}/destroy` method="post")
            button(type="submit") Delete Recipe
    .actions 
      if ALL_PAGES
        h3= "Pages"
        each page in ALL_PAGES
          if page === +THIS_PAGE
            a#current-page.add(href=`/collections/${recipeCollection.id}/page/${page}`)=`${page}  `
          else 
            a.add(href=`/collections/${recipeCollection.id}/page/${page}`)=`${page}  `


block headerLinks
  .actions
    a.list(href="/collections") All Collections
