extends layout

block main
  section#recipe
    header
      h2 Editing '#{recipe.title}'

  form(action=`/recipes/${recipe.id}/edit` method="post")
    dl
      dt
        label(for="recipeTitle") Enter the new title for the recipe:
      dd
        input(type="text"
              name="recipeTitle"
              placeholder="Recipe Title"
              value=recipeTitle || recipe.title)
      
      dt
        label(for="recipePrepTime") Enter the new prep time for the recipe:
      dd
        input(type="text"
              name="recipePrepTime"
              placeholder="Prep Time"
              value=recipePrepTime || recipe.prep_time)
              
      dt
        label(for="recipeTotalTime") Enter the new total time for the recipe:
      dd
        input(type="text"
              name="recipeTotalTime"
              placeholder="Total Time"
              value=recipeTotalTime || recipe.total_time)
      dt
        label(for="recipeInstructions") Enter the new instructions for the recipe:
      dd
        textarea(name="recipeInstructions"
                 placeholder="Instructions"
                 rows="5"
                 value=recipeInstructions || recipe.instructions)
      dt
        label(for="ingredients") Enter the new recipe's ingredients:
      dd#ingredients
        div.ingredient
          input(type="text" name="ingredientName[]" placeholder="Ingredient name")
          input(type="text" name="ingredientQuantity[]" placeholder="Quantity")
          input(type="text" name="ingredientUnit[]" placeholder="Unit")
        button(type="button" id="addIngredientButton") Add Ingredient

    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/collections/${recipe.collection_id}`) Cancel
  script(src="/javascripts/collection.js")

block headerLinks
  .actions
    a.list(href="/collections") All Collections
    a.list(href=`/collections/${recipeCollectionId}`) Current Collection