extends layout

block main
  section#recipe
    header
      h2 Editing '#{recipe.title}'

  form(action=`/collections/${recipe.collection_id}/recipes/${recipe.id}/edit` method="post")
    dl
      dt
        label(for="recipeTitle") Enter the new title for the recipe:
      dd
        input(type="text"
              name="recipeTitle"
              placeholder="Recipe Title"
              value=recipeTitle || recipe.title)
      
      dt
        label(for="prepTime") Enter the new preparatory time in minutes for the recipe:
      dd
        input(type="number"
              name="prepTime"
              placeholder="Prep Time"
              value=recipePrepTime || recipe.prep_time
              min="0" max="1440" required)
              
      dt
        label(for="totalTime") Enter the new total time in minutes for the recipe:
      dd
        input(type="number"
              name="totalTime"
              placeholder="Total Time"
              value=recipeTotalTime || recipe.total_time
              min="1" max="1440" required)
      dt
        label(for="instructions") Enter the new instructions for the recipe:
      dd
        textarea(name="instructions"
                 placeholder="Instructions"
                 rows="5"
                 required)= recipeInstructions || recipe.instructions
      dt
        label(for="ingredients") Delete existing ingredients or enter new recipe's ingredients:
      dd#ingredients
        each ingredient in recipe.ingredients 
          div.ingredient
            input(type="text" name="ingredientName[]" placeholder="Ingredient name" value=ingredient.name readOnly)
            input(type="number" name="ingredientQuantity[]" placeholder="Quantity"
            min="1" max="9999" value=ingredient.quantity readOnly)
            input(type="text" name="ingredientUnit[]" placeholder="Unit" value=ingredient.unit readOnly)
            button(type="button" class="deleteIngredientButton") Delete

        button(type="button" id="addIngredientButton") Add Ingredient
    
    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/collections/${recipe.collection_id}`) Cancel
  script(src="/javascripts/recipe.js")

block headerLinks
  .actions
    a.list(href="/collections") All Collections
    a.list(href=`/collections/${recipe.collection_id}`) Current Collection