extends layout

block main
  section#recipe
    header
      h2= recipe.title
      p Prep Time: #{recipe.prep_time}
      p Total Time: #{recipe.total_time}
    article
      h3 Ingredients
      ul
        each ingredient in recipe.ingredients
          li= `${ingredient.name} - ${ingredient.quantity} ${ingredient.unit}`
      h3 Instructions
      p= recipe.instructions

block headerLinks
  .actions
    a.list(href="/collections") All Collections
    a.list(href=`/collections/${recipeCollectionId}`) Current Collection